.todo-item{
  display: flex;
  width: 70%;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  background-color: #fff;
  margin: 0 auto 10px;
  padding: 10px;
  text-align: left;
  border-radius: 8px;
}

.todo-item span{
  font-size: 14px;
  margin-left: 5px;
}

.complated{
  text-decoration: line-through;
  color:dimgrey;

}

.close{
  font-size: 20px;
  color: red;
  background-color: transparent;
  border: transparent;margin-left: auto;
}

.close:hover{
  opacity: 0.5;
}
